.application {
  padding-top: 40px;
  padding-bottom: 40px;
}
.application-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.application-description {
  color: rgba(18, 20, 23, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 20px;
}
.application-input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  padding-left: 18px;
  color: var(--black);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 18px;
}
.application-textarea {
  width: 100%;
  height: 104px;
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  color: var(--black);
  font-size: 16px;
  line-height: 1.5;
  resize: none;
}

/* ! Checkbox */
