.proposal {
  padding-left: 20px;
  padding-right: 20px;
}

.proposal-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px 64px 20px;
  border-radius: 16px;
  background: linear-gradient(
    80deg,
    var(--green) 0%,
    var(--header-second-style-color) 100%
  );
  overflow: hidden;
}

.proposal-title {
  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 65px;
}

.proposal-title-accent {
  color: var(--header-second-style-color);
}

.proposal-list-wrapper {
  position: relative;
  z-index: 1;
}

.proposal-list-card {
  border-radius: 16px;
  background: var(--white);

  padding: 40px 20px;
}

.proposal-list-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: rotate(11deg);
  background: var(--white);
  opacity: 50%;
  z-index: -1;
}

.proposal-list-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: rotate(-9deg);
  background: var(--light-green);
  z-index: -1;
}

.proposal-list-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.proposal-list {
  margin-bottom: 20px;
}

.proposal-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.proposal-list-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.proposal-list-item::before {
  content: '';
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;

  background-image: url(../../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 12px;
}

.proposal-button {
  border-radius: 12px;
  background: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .proposal {
    min-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .proposal-container {
    min-width: 704px;
    padding: 64px 18px 92px 18px;
    border-radius: 30px;
  }

  .proposal-title {
    font-size: 60px;
    line-height: 1.17;
  }

  .proposal-list-card {
    border-radius: 30px;
    padding: 64px 32px;
    background-image: url(../../images/application_proposal/stack-of-books.png);
    background-position: 503px 173px;
    background-size: 214px 263px;
    background-repeat: no-repeat;
  }

  .proposal-list-card::before {
    border-radius: 30px;
    transform: rotate(10.655deg) translateY(6px);
  }

  .proposal-list-card::after {
    border-radius: 30px;
    transform: rotate(-9.864deg) translateY(2px);
  }

  .proposal-list-title {
    font-size: 40px;
    letter-spacing: -0.02em;
  }

  .proposal-list {
    margin-bottom: 32px;
  }

  .proposal-list-item {
    width: 448px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    column-gap: 16px;
  }

  .proposal-list-item::before {
    width: 28px;
    height: 28px;
    padding: 4px;
    background-size: 20px;
  }

  .proposal-button {
    display: inline-flex;
    padding: 16px 64px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx),
  screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .proposal-list-card {
    background-image: url(../../images/application_proposal/stack-of-books@2x.png);
  }
}
