.header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.site-nav__logo {
    font-family: inherit;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.backdrop{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(18, 20, 23, 0.40); 
    z-index: 1000;
    transition: right 1s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    pointer-events: auto;
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
}

.side-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 20px;
    background-color: var(--green);
    z-index: 1000;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    transition: right 0.5s ease, opacity 0.5s ease;
}

.side-menu.is-hidden {
    right: -50%; 
}

.side-menu.visible {
    right: 0;  
}

.close-button {
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.close-button.is-hidden {
    display: none;
}

.close-icon{
    stroke: var(--white);
    width: 32px;
    height: 32px;
    transition: stroke var(--transition-duration-time-function);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon{
    stroke: var(--header-second-style-color);
}

.burger-button{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.burger-icon{
    width: 32px;
    height: 32px;
    stroke: var(--black); 
    transition: stroke var(--transition-duration-time-function);
}

.burger-button.is-hidden {
    display: none;
}

.burger-button:hover .burger-icon,
.burger-button:focus .burger-icon{
    stroke: var(--green);
}

.site-nav__list {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: auto;
}

.site-nav__list > li:not(:last-child) {
    margin-bottom: 20px;
}

.site-nav-link {
    position: relative;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.32px;
    line-height: 1.28;
    color: var(--white);
    transition: color var(--transition-duration-time-function);
}

.site-nav-link::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--green);
    transition: width 0.3s ease, left 0.3s ease;
}

.site-nav-link:hover::after {
    width: 50%; 
    left: 0;
}

.site-nav-link:not(:hover)::after {
    width: 0; 
    left: -50%;
}

.accent{
    color: var(--green);
}

.header_socials__list{
    margin-top: auto;
    display: flex;
}

.header_socials__list > li:not(:last-child) {
    margin-right: 12px;
}

.header_socials-icon{
    padding: 8px;
    border-radius: 10px;
    fill: var(--white);
    border: 1px solid rgba(255, 255, 255, 0.10);
    transition: fill var(--transition-duration-time-function);
}


@media screen and (min-width: 768px) {
    
    .close-icon{
        width: 40px;
        height: 40px;
    }
    
    .side-menu {
        padding: 20px 32px 32px 32px;
        
    }
    
    .burger-button{
        width: 40px;
        height: 28px;
    }     
    
    .header_socials__link:hover .header_socials-icon,
    .header_socials__link:focus .header_socials-icon
    {
        fill: var(--header-second-style-color);
    }
    
    .site-nav-link:hover,
    .site-nav-link:focus{
        color: var(--header-second-style-color);
    }
}

@media screen and (min-width: 1280px) {
    
    .backdrop{
        position: static;
        background-color: transparent;
        width: 100%;
    }
    
    .side-menu {
        background-color: inherit;   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        border: 0;
        padding: 0;
        white-space: normal;
        clip-path: none;
        clip: auto;
        overflow: visible;
    }
    
    .header_socials__list {
        display: flex;
        position: static;
    }
    
    .header {
        display: block;
    }
    
    .site-nav__list {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
    }
    
    .site-nav__list > li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
    }
    
    .site-nav-link {
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.32px;
        line-height: 1.28;
        color: var(--black);
    }
    
    .header_socials-icon{
        border: 1px solid rgba(18, 20, 23, 0.10);
        fill: var(--black); 
    }
    
    .site-nav-link:hover,
    .site-nav-link:focus{
        color: var(--black);
    }
    
    .header_socials__link:hover .header_socials-icon,
    .header_socials__link:focus .header_socials-icon
    {
        fill: var(--green);
    }
}
