.hero {
  max-width: 335px;
  height: 709px;
  border-radius: 16px;
  background-color: linear-gradient(57deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/hero/hero-mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero-container {
  position: relative;
  padding: 0 20px 72px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

.hero-header {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.05;

  margin-bottom: 40px;
}

.hero-header-second-style {
  color: var(--header-second-style-color);
}

.scroll-to-application {
  display: flex;
  max-width: 295px;
  padding-top: 14px;
  padding-bottom: 14px;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
}

.scroll-to-footer {
  position: absolute;
  bottom: 14px;
  right: 14px;

  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  flex-shrink: 0;
}

.scroll-to-footer-icon {
  stroke: var(--green);
}
