.section-reviews-text {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  margin-bottom: 40px;
}

.section-reviews-item {
  background-color: var(--gray);
  border-radius: 16px;
  padding-top: 20px;
}

.section-reviews-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 14px 8px 14px 14px;
  background-color: var(--green);
  margin-left: 20px;
  margin-right: 20px;
}

.section-reviews-photo {
  box-sizing: content-box;
  border-radius: 50%;
  margin-right: 8px;
  /* flex-shrink: 0; */
}

.section-reviews-student-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.section-reviews-student-name {
  color: var(--white);
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.4px;
}

.section-reviews-student {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: calc(16 / 12);
}

.section-reviews-student-review {
  color: rgba(18, 20, 23, 0.5);
  font-size: 14px;
  line-height: calc(24 / 14);
  padding: 20px 34px 40px 34px;
}

.second-item {
  display: none;
}

.third-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-headline {
    font-size: 40px;
    line-height: calc(48 / 40);
  }

  .section-reviews-text {
    font-size: 18px;
    line-height: calc(30 / 18);
    margin-bottom: 64px;
    padding-left: 29px;
    padding-right: 29px;
  }

  .section-reviews-list {
    display: flex;
    gap: 32px;
  }

  .second-item {
    display: block;
  }

  .section-reviews-item {
    width: calc((100% - 32px) / 2);
    padding-top: 32px;
  }

  .section-reviews-card {
    border-radius: 15px;
    background-color: var(--green);
    margin-left: 16px;
    margin-right: 16px;
  }

  .section-reviews-photo {
    padding-left: 16px;
  }

  .section-reviews-student-review {
    font-size: 16px;
    line-height: calc(24 / 16);
    padding: 32px 32px 40px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section-reviews-text {
    padding-left: 188px;
    padding-right: 188px;
  }

  .third-item {
    display: block;
  }

  .section-reviews-item {
    width: calc((100% - 2 * 32px) / 3);
  }
}
