<section id="about" class="about-us section">
  <div class="container">
    <h2 class="section-headline">
      About <span class="header-underline">Us</span>
    </h2>
    <p class="section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-us-content">
      <ol class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-us-image">
        <img
          srcset="./images/memoji@2x.png 2x"
          src="./images/memoji@1x.png"
          width="254"
          height="211"
          alt="about us"
        />
      </div>
    </div>
  </div>
</section>
