<section class="section">
    <div class="container">
        <h2 class="about-us-title">About Us</h2>
        <p class="about-us-description">
            We are dedicated to providing engaging and effective English language
            courses in a supportive and stimulating learning environment
        </p>
        <ol class="about-us-list">
            <li class="about-us-item">
                <span class="about-us-num">01</span>
                <p class="about-us-descr">Expert, innovative teaching staff</p>
            </li>
            <li class="about-us-item">
                <span class="about-us-num">02</span>
                <p class="about-us-descr">Wide range of course levels and options</p>
            </li>
            <li class="about-us-item">
                <span class="about-us-num">03</span>
                <p class="about-us-descr">Multicultural learning environment</p>
            </li>
            <li class="about-us-item">
                <span class="about-us-num">04</span>
                <p class="about-us-descr">Comprehensive language support services</p>
            </li>
        </ol>
        <div class="about-us-decor">
            <!-- <img src="../public/img/helper-memoji.jpg" alt="asistant" /> -->
        </div>
    </div>
</section>
