<div id="footer" class="footer-styles">
  <div class="footer-container container">
    <div class="footer-main-info">
      <div class="footer-main-info-container">
        <address class="footer-adress">
          <div class="footer-logo">
            <a class="link footer-logo-light" href="../index.html"
              >english<span class="footer-logo-dark">excellence</span>.</a
            >
          </div>
          <ul class="list footer-adress-list">
            <li class="footer-adress-list-item">
              <p class="footer-adress-list-item-title">Phone number:</p>
              <a
                class="link footer-adress-list-item-data"
                href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-adress-list-item">
              <p class="footer-adress-list-item-title">Address:</p>
              <a
                class="link footer-adress-list-item-data"
                href="https://goo.gl/maps/KUWZpUiHAd7rswvi6"
                target="_blank"
                rel="noopener noreferrer"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>

        <nav class="footer-navigation">
          <ul class="list footer-navigation-list">
            <li class="footer-navigation-list-item">
              <a href="#about" class="link footer-navigation-list-item-link"
                >About us</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#lessons" class="link footer-navigation-list-item-link"
                >Our lessons</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#teachers" class="link footer-navigation-list-item-link"
                >Teachers</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#reviews" class="link footer-navigation-list-item-link"
                >Reviews</a
              >
            </li>
            <li class="footer-navigation-list-item">
              <a href="#contact" class="link footer-navigation-list-item-link"
                >Contact us</a
              >
            </li>
          </ul>
        </nav>

        <div class="footer-socials">
          <ul class="list footer-socials-list">
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-list-item">
              <a
                class="link footer-socials-list-item-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="footer-socials-list-item-link-icon">
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-information">
      <p class="footer-information-rights">
        &#xa9;2023 English Excellence.All rights reserved.
      </p>

      <div>
        <ul class="list footer-information-rules">
          <li>
            <button
              id="info-open-btn"
              class="footer-information-rights-btn"
              type="button"
            >
              Privacy Policy
            </button>
          </li>
          <li>
            <button
              id="terms-open-btn"
              class="footer-information-rights-btn"
              type="button"
            >
              Terms of Service
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
