<section class="hero">
  <div class="hero-container">
    <h1 class="hero-header">
      Discover the joy of learning
      <span class="hero-header-second-style">English</span> with us!
    </h1>

    <a class="scroll-to-application" href="#application">
      Leave an application
    </a>

    <a class="scroll-to-footer" href="#footer">
      <svg class="scroll-to-footer-icon" aria-label="scroll to footer icon">
        <use href="./images/icons.svg#icon-scroll-down"></use>
      </svg>
    </a>
  </div>
</section>
