<section id="reviews" class="section last-section">
  <div class="container">
    <h2 class="section-headline">
      What our <span class="header-underline">students</span> say
    </h2>
    <p class="section-reviews-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div>
      <ul class="section-reviews-list">
        <li class="section-reviews-item first-item">
          <div class="section-reviews-card">
            <img
              class="section-reviews-photo"
              srcset="
                ./images/students/student-1@1x.png,
                ./images/students/student-1@2x.png
              "
              src="./images/students/student-1@1x.png"
              alt="Student Anna"
              width="50"
              height="50"
            />
            <div class="section-reviews-student-info">
              <h3 class="section-reviews-student-name">Anna</h3>
              <p class="section-reviews-student">Student</p>
            </div>
          </div>
          <p class="section-reviews-student-review">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="section-reviews-item second-item">
          <div class="section-reviews-card">
            <img
              class="section-reviews-photo"
              srcset="
                ./images/students/student-2@1x.png,
                ./images/students/student-2@2x.png
              "
              src="./images/students/student-2@1x.png"
              alt="Student Mykhailo"
              width="50"
              height="50"
            />
            <div class="section-reviews-student-info">
              <h3 class="section-reviews-student-name">Mykhailo</h3>
              <p class="section-reviews-student">Student</p>
            </div>
          </div>
          <p class="section-reviews-student-review">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="section-reviews-item third-item">
          <div class="section-reviews-card">
            <img
              class="section-reviews-photo"
              srcset="
                ./images/students/student-3@1x.png,
                ./images/students/student-3@2x.png
              "
              src="./images/students/student-3@1x.png"
              alt="Student Victoria"
              width="50"
              height="50"
            />
            <div class="section-reviews-student-info">
              <h3 class="section-reviews-student-name">Victoria</h3>
              <p class="section-reviews-student">Student</p>
            </div>
          </div>
          <p class="section-reviews-student-review">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
