<section id="teachers">
  <div class="container">
    <h2 class="section-headline">
      Meet our <span class="header-underline">teachers</span>
    </h2>
    <p class="text-main-teachers teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-item">
        <div class="teachers-img-wrapper">
          <img
            srcset="../images/teachers/teacher-Maria@2x.jpg 2x"
            src="../images/teachers/teacher-Maria@1x.jpg"
            alt="teacher Maria photo"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-item-title">Maria</h3>
        <p class="text-main-teachers">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-img-wrapper">
          <img
            srcset="../images/teachers/teacher-Artem@2x.jpg 2x"
            src="../images/teachers/teacher-Artem@1x.jpg"
            alt="teacher Artem photo"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-item-title">Artem</h3>
        <p class="text-main-teachers">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-img-wrapper">
          <img
            srcset="../images/teachers/teacher-Ilona@2x.jpg 2x"
            src="../images/teachers/teacher-Ilona@1x.jpg"
            alt="teacher Ilona photo"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-item-title">Ilona</h3>
        <p class="text-main-teachers">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-item">
        <div class="teachers-img-wrapper">
          <img
            srcset="../images/teachers/teacher-Volodymyr@2x.jpg 2x"
            src="../images/teachers/teacher-Volodymyr@1x.jpg"
            alt="teacher Volodymyr photo"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-item-title">Volodymyr</h3>
        <p class="text-main-teachers">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
