/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./utils/variables.css');

@import url('./base/reset.css');
@import url('./base/visually-hidden.css');

@import url('./base/common.css');
@import url('./base/container.css');

@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/about_us.css');
@import url('./layout/lessons.css');
@import url('./layout/application_proposal.css');
@import url('./layout/teachers.css');
@import url('./layout/application.css');
@import url('./layout/reviews.css');
@import url('./layout/footer.css');
